<app-spinner *ngIf="spinner" top="150px" background="#303030"></app-spinner>

<div class="container-x">
  <app-info
    [score]="score"
    (timerFinished)="timeUp()"
    [round]="round"
  ></app-info>
  <app-organizer
    [currentDisplayArray]="currentDisplayArray"
    [addPoint]="addPoint"
    [shake]="shake"
    [answerArray]="organizerAnswer"
    (submitAnswer)="submitAnswer()"
    (maxLength)="openSnack('You only need 5 icons in your answer')"
    *ngIf="role === 'organizer'"
  ></app-organizer>
  <app-speaker
    [correctAnswer]="correctAnswer"
    [addPoint]="addPoint"
    *ngIf="role === 'speaker'"
  ></app-speaker>
</div>
