<app-spinner top="140px" *ngIf="spinner"></app-spinner>

<div class="outer">
  <h1 class="header">Enter Name</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card class="card">
      <mat-form-field>
        <input
          matInput
          formControlName="name"
          type="name"
          placeholder="Name"
          autocomplete="off"
        />
      </mat-form-field>
    </mat-card>
    <div class="button-container">
      <button class="button" mat-raised-button color="accent" type="submit">
        Log In
      </button>
    </div>
  </form>
</div>
