.center {
  //text-align: center;
  margin: auto;
  max-width: 500px;
  width: 90%;
}

.card {
  text-align: center;
  margin: auto;
  max-width: 500px;
}

.input {
  width: 100%;
}

.label {
  width: 100%;
  //text-align: center;
}

.button-container {
  text-align: center;
}

.button {
  margin-top: 20px;
  padding: 7px;
  width: 200px;
  font-size: 1.2em;
}
