.container {
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.7em;
}

.round {
  color: orange;
  margin: -5px 0 20px 0;
  font-size: 0.8em;
}

.circle {
  height: 50px;
  width: 50px;
  display: flex;
  border: 2px Orange solid;
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.time {
  display: inline-block;
  border-radius: 8px;
  font-size: 3em;
  //border: 2px orange solid;
  margin: 10px 10px 0 10px;
}

.score-container {
  //width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.line {
  flex-grow: 2;
  border: 1px orange solid;
}

.blink {
  animation: blink 1s ease-out infinite;
  color: red;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
