.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  font-family: "roboto condensed";
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  text-decoration: none;
  color: black;
}

.title {
  font-family: "Rubik Mono One", sans-serif;
}
.xl {
  font-family: "Rock Salt", cursive;
  font-size: 1.1em;
  margin-left: -15px;
}

mat-icon {
  font-size: 2em;
}

.name {
  display: block;
  margin-bottom: -10px;
  font-weight: bold;
}
.email {
  display: block;
  font-size: 0.8em;
}

.flex {
  display: flex;
  align-content: center;
}
