.outer {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.label {
  width: 90%;
}

.main-card {
  max-width: 500px;
  margin: 20px auto;
}

.button-container {
  text-align: center;
}

.button {
  width: 200px;
  font-size: 1.1em;
  padding: 10px;
}
