.outer {
  text-align: center;
  width: 100%;
}

.label {
  width: 90%;
}

.main-card {
  width: 85%;
  max-width: 400px;
  margin: 20px auto;
}

.button {
  width: 200px;
  font-size: 1.1em;
  padding: 10px;
}
