.title {
  margin: 0;
}
.text {
  padding: 20px;
  font-size: 1.1em;
}
.buttons {
  text-align: center;
}
.button {
  margin-bottom: 24px;
  width: 250px;
  padding: 10px;
  font-size: 1em;

  color: #303030;
}
